@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
}
li , a , button {
    text-decoration: none;
    
}
body {
    background-color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    background-color: #e6f5f8;
}
.nav-links {
    list-style: none;
   
}
.nav-links li {
    display: inline-block;
    margin: 0 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover {
    color: #007d6f;
}
header button {
    padding: 15px 25px;
    background-color: #007d6f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.logo {
    max-height: 60px;
    cursor: pointer;

}
header button:hover {
    background-color: #03473f;
}
.hero-section {
    background: linear-gradient(#e6f5f8, #e6f5f800);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headline {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline h1 {
    font-size: 3.5rem;
    color: #007d6f;
    padding-bottom: 2rem;
}
.headline p {
    font-size: 2rem;
    color: #6b6b6b;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: max-content;
    padding: 1rem;
}

.search button {
    padding: 12px 25px;
    background-color: #007d6f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.search button:hover {
    background-color: #03473f;
}
.search-input {
    padding: 12px;
    width: 250px;
    border-radius: 10px;
    border: #007d6f solid 1.5px;
    outline: none;

}
select {
    padding: 12px;
    border-radius: 10px;
    border: #007d6f solid 1.5px;
    background-color: #007d6f;
    color: white;
    outline: none;
    cursor: pointer;
}
select::after {
    position: absolute;
    content: "\25BC";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

.hero-img {
    margin-top: 2rem;
    
  }
  .card {
    display: flex;
    align-items: center;
    background-color: #edf8fa;
    width: max-content;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
  }
  .card-img {
    max-height: 100px;
    margin-right: .5rem;
  }
  .text h3 {
    color: #007d6f;
    font-size: 3rem;
  }
  .text p {
    font-size: 1.5rem;
    color: #3b3b3b;
    margin-bottom: .3rem;
  }
  .cards-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: -4rem;
  }
  main {
    padding: 0 15%;
  }

  .courses-h1 {
    font-size: 3rem;
    position: relative;
  }
  .courses-h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 40px;
    width: 160px;
    background-color: #edf8fa;
    z-index: -1;
    margin-top: 10px;
    margin-left: 10px;
  }

.courses-categories {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}
.courses-categories li {
    display: inline-block;
    margin: 0 1.2rem;
    cursor: pointer;
    font-weight: 600;
    color: #202020;
}
.selected::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 50px;
    border-radius: 1rem;
    background-color: #007d6f;
    z-index: -1;
    margin-top: 6px;
    
}
.selected {
    color: #007d6f !important;
}