@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
}
li , a , button {
    text-decoration: none;
    
}
body {
    background-color: #ffffff;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    background-color: #e6f5f8;
}
.nav-links {
    list-style: none;
   
}
.nav-links li {
    display: inline-block;
    margin: 0 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover {
    color: #007d6f;
}
header button {
    padding: 15px 25px;
    background-color: #007d6f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.logo {
    max-height: 45px;
    cursor: pointer;

}
header button:hover {
    background-color: #03473f;
}
.hero-section {
    background: linear-gradient(#e6f5f8, #e6f5f800);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headline {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline h1 {
    font-size: 3.5rem;
    color: #007d6f;
    padding-bottom: 2rem;
}
.headline p {
    font-size: 2rem;
    color: #6b6b6b;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: max-content;
    padding: 1rem;
}

.search button {
    padding: 12px 25px;
    background-color: #007d6f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.search button:hover {
    background-color: #03473f;
}
.search-input {
    padding: 12px;
    width: 250px;
    border-radius: 10px;
    border: #007d6f solid 1.5px;
    outline: none;

}
select {
    padding: 12px;
    border-radius: 10px;
    border: #007d6f solid 1.5px;
    background-color: #007d6f;
    color: white;
    outline: none;
    cursor: pointer;
}
select::after {
    position: absolute;
    content: "\25BC";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

.hero-img {
    margin-top: 2rem;
    
  }
  .card {
    display: flex;
    align-items: center;
    background-color: #edf8fa;
    width: max-content;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    width: 33%;
  }
  .card i {
    font-size: 5rem;
    margin-right: .5rem;
    color: #007d6f;
    padding: 1rem;
  }
  .text h3 {
    color: #007d6f;
    font-size: 3rem;
  }
  .text p {
    font-size: 1.5rem;
    color: #3b3b3b;
    margin-bottom: .3rem;
  }
  .cards-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: -4rem;
  }
  main {
    padding: 0 15%;
  }

  .courses-h1 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 2rem;
  }
  .courses-h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 40px;
    width: 160px;
    background-color: #edf8fa;
    z-index: -1;
    margin-top: 10px;
    margin-left: 10px;
  }

.courses-categories {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}
.courses-categories li {
    display: inline-block;
    margin-right: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    color: #202020;
}
.selected::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 50px;
    border-radius: 1rem;
    background-color: #007d6f;
    z-index: -1;
    margin-top: 6px;
    
}
.selected {
    color: #007d6f !important;
}
.poster {
    background-color: white;
    width: 32%;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.poster-img {
    position: relative;
    overflow: hidden;
    height: 65%;
}
.poster-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.poster-img::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(0deg,#03aa9679 0,rgba(42,44,49,0) 76%);
}
.poster-text h3 {
    font-size: 1.4rem;
    padding-bottom: .3rem;
}
.poster-text p {
    font-size: .8rem;
    color: #6b6b6b;
}
.poster-text {
    text-align: left;
    margin: 1.5rem 2rem 1rem 2rem;
}
.line {
    height: 1px;
    width: auto;
    background-color: rgba(128, 128, 128, 0.334);
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
}
.poster-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
    font-size: .9rem;
    color: #6b6b6b;
}
.poster-details li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.poster-details i {
    color: #09b5a1;
}
.price {
    position: absolute;
    display: flex;
    align-items: center;
    top: 240px;
    left: 2rem;
    z-index: 3;
}
.price p {
    background-color: #ff7131;
    padding: .3rem .5rem .3rem .5rem ;
    border-radius: .2rem;
    color: white;
    font-weight: 600;
    width: fit-content;
    font-size: .9rem;
}
.price i {
    color: gold;
}
.stars {
    margin-left: 1rem;
    font-size: 1.2rem;
}
.posters-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem 1rem;
}
.teachers {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #edf8fa;
    z-index: -2;
    margin-top: 2rem;
}
.teachers-cards {
    padding: 6rem 15% 6rem 15%;
}
.teachers-h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 40px;
    width: 160px;
    background-color: white;
    z-index: -1;
    margin-top: 10px;
    margin-left: 10px;
}
.teachers-h1 {
    font-size: 3rem;
    position: relative;
}
.teachers-hearder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows {
    font-size: 2.5rem;
    color:#007d6f;
}
.arrows i {
    border-radius: .5rem;
    padding: 0 1.5rem;
}
.active {
    background-color: #cdeaee;
}
.t-cards {
    background-color: white;
    width: 24%;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.t-cards-img {
    position: relative;
    overflow: hidden;
    height: 65%;
}
.t-cards-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.t-cards-text h3 {
    font-size: 1.4rem;
    padding-bottom: .3rem;
}
.t-cards-text p {
    font-size: .8rem;
    color: #6b6b6b;
}
.t-cards-text {
    text-align: center;
    margin: 1.5rem 2rem 1rem 2rem;
}
.t-cards-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
    font-size: .7rem;
    color: #6b6b6b;
}
.t-cards-details li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.t-cards-details i {
    color: #09b5a1;
}
.social-media {
    position: absolute;
    display: flex;
    gap: .4rem;
    align-items: center;
    top: 215px;
    left: calc(-25% + 50%);
    z-index: 3;
}
.social-media i {
    border-radius: .2rem;
    padding: .2rem;
    background-color: white;
    font-size: 1.5rem;
}
.sm-active {
    color: white !important;
    background-color: #007d6f !important;
}
.t-cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}
.blogs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogs-header a {
    text-decoration: none;
    color: white;
    background-color: #007d6f;
    border-radius: .4rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 800;
}
.blogs {
    margin-top: 4rem;
}
.blog-card {
    background-color: white;
    width: 32%;
    height: 480px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.blog-img {
    position: relative;
    overflow: hidden;
    height: 65%;
}
.blog-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.blog-details {
    padding: 1.8rem;
}
.blog-info {
    display: flex;
    align-items: center;
    font-size: .7rem;
    color: #6b6b6b;
    gap: 2rem;
    margin-bottom: 1rem;
}
.blog-details h3 {
    margin-bottom: 1rem;
}
.blog-details a {
    color: #007d6f;
    font-size: .8rem;

}
.blogs-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.news-letter {
    background-color: #007d6f;
    color: white;
    border-radius: 1rem;
    padding: 3rem;
    position: relative;
    margin-top: 12rem;
    margin-bottom: -10rem;
}
.news-letter h1 {
    margin-bottom: 2rem;
}
.news-letter p {
    width: 48rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.news-letter img {
    position: absolute;
    max-width: 180px;
    right: 70px;
    top: -160px;
}
.subscribe-input {
    padding: 20px;
    width: 250px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
}
.subscribe {
    display: flex;
    align-items: center;
}
.subscribe button {
    padding: 20px 25px;
    background-color: #ff7131;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.subscribe button:hover {
    background-color: #03473f;
}
footer {
    background-color: #edf8fa;
    padding-top: 14rem;
    padding-bottom: 3rem;
}
.footer-details {
    padding: 0 15%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}
.footer-details li {
    list-style: none;
    color: #6b6b6b;
    margin-bottom: .5rem;
}
.footer-details li:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: black !important;
}
@media only screen and (min-width: 1700px) {
    /* main {
        padding: 0 19%;
      }
    header {
        padding: 30px 19%;
    }
    .teachers-cards {
        padding: 6rem 19% 6rem 19%;
    } */
  }